## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
entero = 8
print(entero)

8

2) Imprimir el tipo de dato de la constante 8.5

In [3]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(entero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre= 'Matías'

5) Crear una variable que contenga un número complejo

In [6]:
complejo= 3 +2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(complejo))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [15]:
import math
pi = math.pi
print(pi)

pi_redondeado = round(pi,4)

print(pi_redondeado)

3.141592653589793
3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
variable1= 'True'
variable2 = True

print(type(variable1))
print(type(variable2))

# Respuesta no son lo mismo variable1 es un un string y variable2 es un booleano

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [17]:
print(type(variable1))
print(type(variable2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [18]:
suma1= 8 + 3.4
suma1

11.4

11) Realizar una operación de suma de números complejos

In [19]:
suma2= 3j +4j
print(suma2)
print(type(suma2))

7j
<class 'complex'>

12) Realizar una operación de suma de un número real y otro complejo

In [20]:
suma3= 4 + 6j
print(suma3)

(4+6j)

13) Realizar una operación de multiplicación

In [21]:
multiplicacion1= 3 * 5
multiplicacion1

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
potencia1 = 2**8
potencia1

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
cociente = 27/4
cociente

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
parte_entera = 27//4
parte_entera

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
resto = 27%4
resto

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [29]:
calculo = 6 * 4 + 3
calculo

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
d = 'hola'
f = ' mundo'

print(d + f)

hola mundo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [32]:
a = '2'
b = 2

a == b

# '2' es un string y 2 es un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [33]:
c= int(a)

b==c

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
# porque el separador tiene coma en vez de punto

# a = float('3,8')
a = float('3.8')    
a

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [39]:
j= 3
j-=1

j

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [40]:
1 << 2

4

**Explicación:**  La operación 1 << 2 en Python realiza un desplazamiento a la izquierda de bits (bitwise left shift) en el número entero 1.
En este caso, el número binario 1 se desplaza dos posiciones hacia la izquierda, y se rellena con ceros a la derecha. El resultado de esta operación es 4.
Explicación paso a paso:
1. El número 1 en binario es representado como 0001.
2. Realizamos un desplazamiento de dos posiciones hacia la izquierda: 0001 << 2.
3. El resultado es 0100, que en decimal representa el número 4.*


Es importante tener en cuenta que el desplazamiento a la izquierda de bits (<<) multiplica el número original por 2 elevado a la potencia del número de posiciones desplazadas. En este caso, 1 se multiplica por 2 elevado a la potencia de 2, lo que resulta en 4.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [42]:
# 2 + '2'
# no se puede sumar un entero con un string

int(2) + int('2')

4

In [43]:
float(2) + float('2')

4.0

In [44]:
str(2) + str('2')

'22'

26) Realizar una operación válida entre valores de tipo entero y string

In [47]:
variable3 = 'repetir '
variable4= 4

print(variable3 * 4 + str(variable4) +' veces' )

repetir repetir repetir repetir 4 veces

In [51]:
a = 45
c = 25

a + c

70

In [52]:
a - c

20